[user]
	name = Belbase Bipin
	email = belbasebipin.com

[core]
    editor = nvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --graph --abbrev-commit --pretty=oneline

# This is a minimal Git configuration.  Customize it with your preferred user name,
# email, and aliases.  Additional sections can be added for GPG signing,
# diff/color preferences, etc.